<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<title>Cross-Browser QRCode generator for Javascript</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<style>
	/* new.css 내용 */
	.container {
		/* border: 2px solid black; */
		display: flex;
		width: 300px;
		height: 300px;
		margin: 0 auto;
		padding-top: 20px;
		flex-direction: column;
		align-items: center;
		background-color: white;
	}

</style>
</head>
<body>
  <div font-size=32px>결제 완료되었습니다</div>
</body>